[submodule "software/software/fluidics_v2"]
	path = software/software/fluidics_v2
	url = https://github.com/Alpaca233/fluidics_v2.git
[submodule "software/fluidics_v2"]
	path = software/fluidics_v2
	url = https://github.com/Alpaca233/fluidics_v2.git
